.main-container {
    height: 370px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;

    .left {
        display: flex;
        align-items: center;
    }

    .right {
        display: flex;
        align-items: center;
    }

    .container {
        height: 100%;
        width: 95%;
        margin: 0 auto;
        
        .top {
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            
            h2 {
                margin: 0;
                padding-top: 5px;
            }
            
            .see {
                padding-top: 10px;
            }
            
            a {
                text-decoration: none;
                color: black;
                padding-top: 10px;
            }
        }
        
        .cards-container {
            height: 80%;
            display: flex;
            width: 100%;
            overflow-x: hidden;
        }
        
        // ========== CARDS ==============
        
        .card {
            margin-right: 5px;
            
            img {
                width: 233px;
                height: 155px;
            }
            
            p {
                margin: 0;
                margin-bottom: 8px;
            }

            .title {
                text-transform: uppercase;
            }

            .descr {
                font-weight: bolder;
                font-size: 22px;
                color: #464545;
            }

            .price {
                font-weight: lighter;
                color: gray;
            }
        }
    }
}